<h1>Pregunta #<%= @step %></h1>

<h2><%=@capital.capitalize%></h2>

<form method="post" action="/?step=<%= @step %>">
  <input name="pais">
  <input name="capital" value="<%=@capital%>" hidden>
  <input type="submit" value="enviar">
</form>
